@model IEnumerable<MVCWEB.Models.Comments>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blogs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blogs.BlogID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommentsID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CommentsID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CommentsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
