@model EntityLayer.Concrete.Blog

@{
    ViewBag.Title = "AddNewBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" method="post">
    @Html.Label("Title of Blog")
    @Html.TextBoxFor(x => x.BlogHeader, new { @class = "form-control" })
    <br />

    @Html.Label("Category of Blog")
    @Html.DropDownListFor(x => x.CategoriesID, (List<SelectListItem>)ViewBag.values, new { @class = "form-control" })
    <br />

    @Html.Label("Image Path")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />

    @Html.Label("Date")
    @Html.TextBoxFor(x => x.BlogDate, new { @class = "form-control" })
    <br />

    @Html.Label("Writer")
    @Html.DropDownListFor(x => x.WriterID, (List<SelectListItem>)ViewBag.values2, new { @class = "form-control" })
    <br />


    @Html.Label("Details")
    @Html.TextAreaFor(x => x.BlogDetail, 5, 20, new { @class = "form-control" })
    <br />

    <button class="btn btn-info">Submit</button>
</form>

